<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h1>LOGIN HERE</h1>
	<%= form_for(:session, url: login_path, :html => {role: "form"}) do |s| %>
		<p>
			<%= s.label :email %>
			<%= s.email_field :email %>
		</p>
		<p>
			<%= s.label :password %>
			<%= s.text_field :password %>
		</p>
		<p>
			<%= s.submit "Login"%>
		</p>

		<% end %>
</body>
</html>