<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
		body {
			margin: 0;
			background: #222;
			font-family: sans-serif;
			font-weight: 300;
		}

		.container {
			width: 80%;
			margin: 0 auto;
		}
		header {
			background: #55d6aa;
		}

		header ::after{
			content: '';
			display: table;
			clear: both;
		}

		h1{
			margin: 0;
			font-family: sans-serif;
			font-weight:5em;
			font-size: 5em;
			padding-top: 10px;
			padding-left: 50px;
			float:left;
		}

		nav {
			float: right;
		}
		nav ul{
			margin: 0;
			padding: 0;
			list-style: none;
		}

		nav li {
			display: inline-block;
			margin-left: 60px;
			padding-top: 70px;
		}

		nav a {
			color: #444;
			text-decoration: none;
			text-transform:uppercase;
		}

	</style>	
</head>
<body>
	<header>
		<H1>Park&Go</H1>
		<div class = "container">
			<nav>
				<li><%= link_to 'Home', root_path %></li>
				<li><%= link_to 'About me', infos_me_path %></li>
				<li> <%= link_to 'New Car', car_logs_new_path %></li>
				<li><%= link_to 'Car Log', car_logs_cars_path %></li>
			</nav>
		</div>
	</header>

	<div style = "padding-top: 30px; padding-left: 50px; text-align: center; color: beige; font-size: 2em">

	<% if @car_logs.errors.any? %>
		<h2>Errors: </h2>
		<ul>
			<% @car_logs.errors.full_messages.each do |msg| %>
			<%= msg %>
			<% end %>
		</ul>
	 <% end %>
	 
	<%= form_for @car_logs do |s| %>
		<p>
			<%= s.label :plate_number %>
			<%= s.text_field :plate_number %>
		</p>
		<p>
			<%= s.label :user_id %>
			<%= s.text_field :user_id %>
		</p>
		<p>
			<%= s.label :time_in %>ss
			<%= s.datetime_field :time_in %>
		</p>
		<p>
			<%= s.label :time_out %>
			<%= s.datetime_field :time_out %>
		</p>
		<p>
			<%= s.label :color %>
			<%= s.select :color, ['Black', 'White', 'Red', 'Silver', 'Yellow'], :prompt => 'Select one' %>
		</p>
		<p>
			<%= s.label :brand %>
			<%= s.select :brand, ['Toyota', 'Honda', 'BMW','Mercedes','Ford','Ferrari', 'Hyundai', 'Porsche'], :prompt => 'Select one' %>
		</p>
		<p>
			Owner <%= car.user.username %>
		</p>
		<p>
			<%= s.submit %>
		</p>

		<% end %>
	</div>

</body>
</html>