<!DOCTYPE html>
<html>
<head>
	<title>Parking Lot</title>
	<style type="text/css">
		body {
			margin: 0;
			background: #222;
			font-family: sans-serif;
			font-weight: 300;
		}

		.container {
			width: 80%;
			margin: 0 auto;
		}
		header {
			background: #55d6aa;
		}

		header ::after{
			content: '';
			display: table;
			clear: both;
		}

		h1{
			margin: 0;
			font-family: sans-serif;
			font-weight:5em;
			font-size: 5em;
			padding-top: 10px;
			padding-left: 50px;
			float:left;
		}

		nav {
			float: right;
		}
		nav ul{
			margin: 0;
			padding: 0;
			list-style: none;
		}

		nav li {
			display: inline-block;
			margin-left: 60px;
			padding-top: 70px;
		}

		nav a {
			color: #444;
			text-decoration: none;
			text-transform:uppercase;
		}

	</style>	
</head>
<body>
	<header>
		<H1>Park&Go</H1>
		<div class = "container">
			<nav>
				<li><%= link_to 'Home', root_path %></li>
				<li><%= link_to 'About me', infos_me_path %> </li>
				<li> <%= link_to 'New Car', car_logs_new_path %></li>
				<li><%= link_to 'Car Log', car_logs_cars_path %></li>
			</nav>
		</div>
	</header>
	<p style = "font-size: 10em; font-family: sans-serif; text-align: center;color:beige; font-weight: 6em">Welcome!</p>
</body>
</html>