<!DOCTYPE html>
<html>
<head>
	<title>Parking Lot</title>
	<style type="text/css">
		body {
			margin: 0;
			background: #222;
			font-family: sans-serif;
			font-weight: 300;
		}

		.container {
			width: 80%;
			margin: 0 auto;
		}
		header {
			background: #55d6aa;
		}

		header ::after{
			content: '';
			display: table;
			clear: both;
		}

		h1{
			margin: 0;
			font-family: sans-serif;
			font-weight:5em;
			font-size: 5em;
			padding-top: 10px;
			padding-left: 50px;
			float:left;
		}

		nav {
			float: right;
		}
		nav ul{
			margin: 0;
			padding: 0;
			list-style: none;
		}

		nav li {
			display: inline-block;
			margin-left: 60px;
			padding-top: 70px;
		}

		nav a {
			color: #444;
			text-decoration: none;
			text-transform:uppercase;
		}

		img {
			display: block;
    		margin-left: auto;
    		margin-right: auto;
    		padding-top: 30px;
		}

	</style>	
</head>
<body>
	<header>
		<H1>Park&Go</H1>
		<div class = "container">
			<nav>
				<li><%= link_to 'Home', root_path %></li>
				<li><%= link_to 'About me', infos_me_path %> </li>
				<li> <%= link_to 'New Car', car_logs_new_path %></li>
				<li><%= link_to 'Car Log', car_logs_cars_path %></li>
			</nav>
		</div>
	</header>
	<img src= "https://scontent.fmnl10-1.fna.fbcdn.net/v/t1.0-9/42982677_2197503996957344_6434287100228534272_n.jpg?_nc_cat=103&_nc_eui2=AeFzQeprxC6nHwdKh6YX41jl7nKOtps_lNMPXdptz6h6cQzLlhVCsNtJ2LxnNYn2UhREUAKajrP-a3HEn9Mh-mXihPFcz9N_QvSu5cXZY0OZRw&_nc_ht=scontent.fmnl10-1.fna&oh=8189bd4c4e54dae6b29afaa915239d3b&oe=5C508086" width = "300" length = "300">
	<div display: inline-block>
	<p style = "font-size: 2em; font-family: sans-serif; color: beige; text-align: center"> Hello! I am Bea Basilio, 3 BS Management Information Systems from Singapore. I am passionate about cars so I wanted to start up a space where cars can conveniently park and customers are satisfied. </p>
	</div>
</body>





